.container {
  width: 100%;
  height: ;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}
.column{
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.columnHeader{
  display: flex;
  justify-content: space-between;
}