.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}
.column{
  display: flex;
  flex-direction: column;
  width: 350px;
}
.columnHeader{
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}