*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.in-btwn{
  justify-content: space-between;
  align-items: center;
}

.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.boxShadow{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.w-100{
  width: 100px;
}